@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	/* Headings */
	h1 {
		@apply text-mobile-h1 font-bold lg:text-h1;
	}
	h2 {
		@apply text-mobile-h2 font-bold lg:text-h2;
	}
	h3 {
		@apply text-mobile-h3 font-bold lg:text-h3;
	}
	h4 {
		@apply text-mobile-h4 font-bold lg:text-h4;
	}
	h5 {
		@apply text-mobile-h5 font-bold lg:text-h5;
	}
	h6 {
		@apply text-mobile-h6 font-bold lg:text-h6;
	}

	/* Text sizes */
	.text-lg {
		@apply text-mobile-text-lg font-normal lg:text-text-lg;
	}
	.text-md {
		@apply text-mobile-text-md font-normal lg:text-text-md;
	}
	.text-base {
		@apply text-mobile-text-base font-normal lg:text-text-base;
	}
	.text-sm {
		@apply text-mobile-text-sm font-normal lg:text-text-sm;
	}
  :root {
		--radius: 0.5rem;
	}
}
